$primary:  #1976D2; 
$secondary: theme("colors.gray.600");
$secondary-dark: theme("colors.gray.400");
$accent: #9c27b0;

$dark: theme("colors.slate.800");
$dark-page: #121212;

$positive: #21ba45;
$negative: theme("colors.red.500");
$info: #31ccec;
$warning: #f2c037;

// $generic-border-radius: 14px;
$button-border-radius: 8px;
$button-padding: 8px 14px;

// $shadow-2: 0 0 80px 0 rgba(0, 0, 0, 0.03);
